ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ion-title {
    padding: 2%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.datacard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-weight: bold;
    }

}

.logout{
    color: #2dd36f;
}