<ion-header>
    <ion-toolbar>
        <ion-title class="head">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="title">

        <h4>Ingresa tu informacion</h4>

    </div>

    <ion-input placeholder="Usuario" class="usd"></ion-input>
    <ion-input placeholder="Contraseña" type="password" class="usd"></ion-input>

    <div class="ion-margin-top ion-text-right forget">
        <a href="#"> ¿Olvidaste tu contraseña?</a>
    </div>
    <br>


    <div>
        <ion-button class="botn" expand="block" (click)="login()" fill="outline">Logueate</ion-button>
    </div>

    <div>
        <ion-button class="botn" expand="block" (click)="dismiss()" fill="outline">Cerrar</ion-button>
    </div>
</ion-content>