<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title id="header">Informacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="cais">
      <h1>CAIS cercanos</h1>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Elige tu cai" >
            <ion-select-option *ngFor="let item of cais"  [value]="item.id" >{{items.nombre}}</ion-select-option> 
          </ion-select>
        </ion-item>
      </ion-list>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Telefono</ion-card-subtitle>
        <ion-card-title>{{telefono}}</ion-card-title>
      </ion-card-header>
      
    </ion-card>
 
    <br>
    <ion-card>
      <img src="https://imageproxy.youversionapi.com/https://s3.amazonaws.com/yvplans/21622/640x360.jpg" atl="care" />
      <ion-card-header>

      </ion-card-header>
      <ion-card-content>
        Recuerda que nadie está
      excento de vivir una situación de inseguridad.
      
      A continuación una serie de tips de como prevenir y actuar antes una situación de este indole.

        <ion-button class="icon" (click)="presentAlert()">
          <ion-icon slot="icon-only" name="document"></ion-icon>
        </ion-button>

      </ion-card-content>
    </ion-card>

    <h6 class="footerr">Donde existe unidad, siempre existe <br>victoria.<br> – Publilius Syrus. </h6>



  </ion-content>

</ion-app>