#header{
    text-align: center;
}

#cais{
    text-align: center;
    color: #30445a;
}
p {
    color: #30445a;
}

#document{
    font-size: 70px;
    color: #1ce8a4;
    
    

}
#inf {
    color: #1781f3;
}