<ion-header>
    <ion-toolbar>
        <ion-title>OWL</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src='../icon.png' class="logo" />

    <div class="title ">
        <h2>Bienvenidos</h2>

    </div>

    <div class="ion-margin-top ">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" color="white" fill="outline">Registrate</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white" fill="outline">Logueate</ion-button>
    </div>
</ion-content>