<ion-header>
    <ion-toolbar>
        <ion-title class="ini">OWL</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding ion-text-center">
   
    <ion-img class="logo" src="../LOGOO.png"></ion-img>

    <div class="title ">
        <h2>Bienvenidos</h2>

    </div>

    <div >
        <ion-button expand="block" class="buttonn" (click)="login()">Login</ion-button>
        <ion-button expand="block" class="buttonn" (click)="signup()" fill="outline" >Sign Up</ion-button>
    </div>
</ion-content>