.logo {
    font-size: 50cm;
    background-image: url('../LOGOO.png');
}

.title {
    margin-bottom: 30px;
}

.title {
    margin-top: 0 !important;
    color: #30445a;
}
.buttonn{
    background-color: #1ce8a4;
    color: white;
    --background-hover-opacity: white;
    margin-top: 20px;


}

.ini {
    text-align: center;
    color:#30445a;
}