<ion-header>
    <ion-toolbar>
        <ion-title>OWL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="./resources/splash.png " class="logo " />

    <div class="title ">
        <h2>Bienvenidos</h2>

    </div>

    <div class="ion-margin-top ">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="white">Registrate</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" fill="outline" color="white">Logueate</ion-button>
    </div>
</ion-content>