<ion-header>
    <ion-toolbar>
        <ion-title class="head" >Registrate</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="title">
        <h4>Ingresa tu informacion</h4>

    </div>

    <ion-input placeholder="Nombre" class="jos"></ion-input>
    <ion-input placeholder="Usuario" class="jos"></ion-input>
    <ion-input placeholder="Contraseña" type="password" class="jos"></ion-input>
    <br>

    <a class="fab" href="#" >Al registrate aceptas terminos y condiciones</a>

    <br>
    <br>

    <div >
        <ion-button class="butn" expand="block" fill="outline" (click)="register()">Registrate</ion-button>
    </div>

    <div >
        <ion-button class="butn" expand="block" (click)="dismiss()" fill="outline">Cerrar</ion-button>
    </div>
</ion-content>