<ion-header>
    <ion-toolbar>
        <ion-title>Registrate</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="title">
        <h4>Registrate</h4>

    </div>

    <ion-input placeholder="Nombre" class="primary-input"></ion-input>
    <ion-input placeholder="Usuario" class="primary-input"></ion-input>
    <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>

    <p>Al registrate aceptas terminos y condiciones</p>

    <div class="ion-margin-top">
        <ion-button expand="block" (click)="register()">Registrase</ion-button>
    </div>

    <div class="ion-margin-top ion-text-center">
        <ion-button (click)="dismiss()" fill="outline">Cerrar</ion-button>
    </div>
</ion-content>